html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  padding-left: 1.2rem;
  padding-top: 0.5rem;
}

ul:has(details) {
  padding-left: 0.3rem;
}

details {
  font-size: 16px;
  padding-bottom: 1.2rem;
}

details>p {
  padding: 0.3rem 0rem 0.2rem 1rem;
}

.small {
  font-size: 14px;
}

summary {
  font-size: 18px;
}

a:link {
  color: #DF2020;
}

a:hover {
  color: #F52727;
}

a:visited {
  color: #B51A1A;
}

.content {
  max-width: 35rem;
  margin: 10rem 10% 10rem 10%;
}

.arrow {
  text-decoration-line: none;
}

.arrow::after {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: currentColor;
  vertical-align: baseline;
  transform: translateY(0.1em);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>');
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>');
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
